.bungkus {
  background-color: rgb(49, 183, 236);
  background-image: url(../img/1.jpg);
  background-size: cover;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.container {
  width: 50%;
  background-color: #eaeaae;
  margin: -48px auto;
  /* border-bottom: 5px double black; */
  box-shadow: 0px -1px 3px 2px rgba(0, 0, 0, 0.5);
  background-image: url(../img/1.jpg);
  background-size: cover;
  background-position: -190px 0;
}

div {
  border: 2px solid black;
  padding: 20px;
  margin: 10px;
}

.satu p,
.dua p,
.tiga p,
.empat p {
  border: 1px solid black;
  width: 30%;
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.6);
}

.satu,
.dua,
.tiga,
.empat {
  border: 3px double black;
}

.nol {
  width: 52%;
  /* background-color: #eaeaae; */
  margin: 50px auto;
  /* border: 5px double black; */
  background-color: rgb(249, 246, 244);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid black;
}

p {
  text-align: center;
  margin-left: 32%;
}
