html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 30px;
  text-align: center;
}

.container {
  width: 700px;
  border: 5px solid black;
  margin: 50px auto;
  padding: 5px;
  box-sizing: border-box;
}

header {
  background-color: #295f98;
  padding: 50px;
}

.content .sidebar {
  float: left;
  width: 50%;
}

.sidebar aside {
  background-color: #cdc2a5;
  width: 100%;
  height: 200px;
}

.sidebar nav {
  background-color: #f6eacb;
  /* padding: 111px; */
  width: 100%;
  height: 300px;
}

.content main {
  background-color: #e1d7c6;
  /* padding: 170px; */
  width: 50%;
  height: 500px;
  float: right;
}

/* .clear {
    clear: both;
} */

.container {
  content: "";
  display: block;
  clear: both;
}

footer {
  background-color: #606676;
  padding: 25px;
}
